# Build Artifacts
client/dist
client/build
server/dist
dist
build

# Dependencies
node_modules
client/node_modules
server/node_modules

# Environment Secrets
.env
client/.env
server/.env
*.env.local

# IDE & OS Junk
.vscode
.idea
.DS_Store
Thumbs.db

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.turbo
